<!DOCTYPE html>
<html>

<head>
    <title>Task5</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h2>{{>header}}</h2>

    <form id="form1">
        <input type="text" id="address">
        <button>Weather Search</button>
        <p id="locationweb"></p>
        <p id="forecastweb"></p>
        <p id="latitude"></p>
        <p id="longitude"></p>
        <p id="errorweb"></p>
    </form>
    <script src="js/script.js"></script>
</body>

</html>

