<!DOCTYPE html>
<html>

<head>
    <title> Task5</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2 class="hedt1"> {{title}} </h2>
    <div class="heddiv1">
        <a href="/">Home</a>
        <a href="/weatherInfo">Check_Weather</a>
        <a href="/weather">Weather</a>
    </div>
</body>

</html>
